.login-div {
    height: 80%;
    width: 30%;
    border: 0.8px solid skyblue;
    border-radius: 10px;
    color: black;
    box-shadow: 3px 3px 2px grey;
}

.login-heading {
    height: 20%;
    width: 100%;
}

.credentials {
    width: 90%;
    height: 20%;
}

.credentials h4 {
    width: 30%;
}

.credentials input {
    width: 70%;
    padding: 2%;
    border-radius: 5px;
    border: 0.8px solid gray;
}

.button-div {
    width: 100%;
    height: 25%;
}

.login,
.signup {
    font-size: 1em;
    padding: 2.5% 10%;
    width: 40%;
    margin: 1%;
    color: black;
    border: 0.8px solid grey;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    background-color: skyblue;
    font-family: 'Exo', sans-serif;
    letter-spacing: 1.5px;

}


.login:hover,
.signup:hover,
.register:hover,
.login2:hover {
    box-shadow: 1px 1px 3px skyblue;
    border: 2px;
}

.register,
.login2 {
    font-size: 1em;
    padding: 2.5% 10%;
    width: 40%;
    margin: 1%;
    color: black;
    border: 0.5px solid grey;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Exo', sans-serif;
    letter-spacing: 1.5px;
}

.message {
    height: 15%;
    width: 100%;
    margin-top: 0;
    color: red;
}
#loader {
    border: 8px solid #f3f3f3; /* Light gray border */
    border-top: 8px solid #3498db; /* Blue border */
    border-radius: 50%; /* Rounded border */
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite; /* Animation */
    margin: auto; /* Center the loader */
    position: absolute;
    z-index: 2;
    display: none;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media screen and (max-width: 768px) {
    .login-div {
        width: 50%;
    }

}

@media screen and (max-width: 425px) {
    .login-div {
        width: 80%;
    }

    .login-heading {
        font-size: 1.5em;
    }

    .credentials h4 {
        font-size: 0.8em;
    }

    .login,
    .register,
    .signup {
        font-size: 0.7em;
    }

}